/* Cambiar el fondo del cuerpo */
body {
    background-image: url("/img/goku3.jpg");
}

/* Estilo del contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

/* Estilo de la tarjeta */
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de los campos de entrada */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid blue;
    border-radius: 3px;
    box-shadow: none;
}

